@page "/products"
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor _httpContextAccessor;
@inject IProductService _productService;
@attribute [Authorize]
<h1>Products</h1>
@if (ProductList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <MatTable Items="@ProductList" class="mat-elevation-z5" Striped="true" FilterByColumnName="Name" AllowSelection="false">
                    <MatTableHeader>
                        <th>Name</th>
                        <th>Weight</th>
                        <th></th>
                    </MatTableHeader>
                    <MatTableRow>
                        <td>@context.Name</td>
                        <td>@context.Weight @context.WeightPrefix</td>
                        <td>
                            <MatButton Icon="edit" Style="color:burlywood;" OnClick="@(e => EditProduct(context.Id))" Label=""></MatButton>
                            @*<MatIconButton Icon="delete" OnClick="@((e) => DeleteProduct(context.Id))"></MatIconButton>*@
                            <MatIconButton Icon="delete" OnClick="@((e) => {
                                                                        confirmModel.DialogIsOpen = true;
                                                                        confirmModel.Header = $"Are you sure you want to delete {context.Name}?";
                                                                        confirmModel.OkButtonText = "Delete";
                                                                        confirmModel.OnOkClick = async () => await DeleteProduct(context.Id);
                                                                    })"></MatIconButton>
                        </td>
                    </MatTableRow>
                </MatTable>
            </div>
        </div>
    </div>
}
<StuffPacker.Components.BaseComponents.ConfirmComponent Model="confirmModel" />
<StuffPacker.Components.PackListComponents.ProductUpdateComponent Model="productUpdateComponentViewModel" WeightPrefixes="weightPrefix" />


@code {
    ConfirmComponentViewModel confirmModel = new ConfirmComponentViewModel();
    List<ProductViewModel> ProductList;
    ProductUpdateComponentViewModel productUpdateComponentViewModel = new ProductUpdateComponentViewModel();
    List<string> weightPrefix = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        ProductList = (await this._productService.GetById()).ToList();
        weightPrefix = WeightPrefixHelper.GetWeightPrefix();
    }
    private Guid GetUserId()
    {
        var userId = Guid.Parse(_httpContextAccessor.HttpContext.User.FindFirst(ClaimTypes.NameIdentifier).Value);
        return userId;
    }
    async Task<string> DeleteProduct(Guid id)
    {
        var model = ProductList.Find(x => x.Id == id);
        await this._productService.Delete(id);
        ProductList.Remove(model);
        base.StateHasChanged();
        return "";
    }
    async Task EditProduct(Guid productId)
    {

        var product = ProductList.First(x => x.Id == productId);
        productUpdateComponentViewModel.EditMode = true;
        productUpdateComponentViewModel.ConvertedWeight=product.ConvertedWeight;
        productUpdateComponentViewModel.WeightPrefixValue = product.WeightPrefix.ToString();
        productUpdateComponentViewModel.ProductModel = product;
        productUpdateComponentViewModel.OnAfterOkClick = OnAfterOkClick;
        productUpdateComponentViewModel.DialogIsOpen = true;
    }
    async Task<string> OnAfterOkClick()
    {  
        ProductList = (await this._productService.GetById()).ToList();
        base.StateHasChanged();
        return string.Empty;
    }
}
